<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.castiel.dao.sys.PActEnrolExpandMapper">
	<resultMap id="BaseResultMap" type="com.castiel.model.generator.PActEnrol">
		<id column="id_" jdbcType="VARCHAR" property="id" />
		<result column="act_id" jdbcType="VARCHAR" property="actId" />
		<result column="stu_id" jdbcType="VARCHAR" property="stuId" />
		<result column="dept_id" jdbcType="VARCHAR" property="deptId" />
		<result column="isenrol" jdbcType="INTEGER" property="isenrol" />
		<result column="enrol_time" jdbcType="TIMESTAMP" property="enrolTime" />
	</resultMap>
	<select id="countById" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM
		p_act_enrol
		WHERE act_id = #{id}
	</select>
	<select id="isenrol" resultMap="BaseResultMap">
		SELECT p.* FROM p_act_enrol
		p
		WHERE p.stu_id=#{stuid} AND p.act_id=#{actid}
	</select>
	<select id="search" resultType="com.castiel.model.sys.PActEnrolBean">
		SELECT id_ id,act_id actId,stu_id stuId,dept_id deptId,enrol_time
		enrolTime
		FROM p_act_enrol
		WHERE 1=1
		<if test="actId != null">
			and act_id =#{actId}
		</if>
		<if test="deptId != null">
			and dept_id =#{deptId}
		</if>
	</select>
	<select id="searchByStuId" resultType="com.castiel.model.sys.PActEnrolBean">
		SELECT 	
		p.id_ id,
		p.act_id actId,
		p.stu_id stuId,
		p.dept_id deptId,
		p.isenrol isenrol,
		p.enrol_time enrolTime
		FROM 
			p_act_enrol p,
			p_basic_act a
		WHERE
		p.act_id = a.id_ 
		AND
		stu_id=#{stuId} 
		ORDER BY a.ACT_START_TIME DESC LIMIT #{offset},#{limit}
	</select>

	<update id="updateById">
		update p_act_enrol
		set isenrol =
		#{isenrol}
		where act_id
		= #{actId}
		and stu_id = #{stuId}
	</update>

	<select id="enrollCount" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM
		p_act_enrol JOIN p_basic_stu On
		(p_act_enrol.stu_id=p_basic_stu.id_)
		WHERE p_act_enrol.act_id =
		#{actId}
		AND p_act_enrol.isenrol=1
		<if test="type == 1">
			AND p_basic_stu.STU_TYPE=1
		</if>
		<if test="type == 2">
			AND p_basic_stu.STU_TYPE=2
		</if>
		<if test="type == 3">
			AND p_basic_stu.STU_TYPE=3
		</if>
		<if test="type == 4">
			AND p_basic_stu.STU_TYPE=4
		</if>
	</select>
</mapper>